{% extends "base.twig" %}

{% block content %}
  <h1>{% trans %}Access forbidden{% endtrans %}</h1>
{% if reject_msg is defined %}
  <p>{{ reject_msg|translateFromArray }}</p>
{% else %}
  <p>{% trans %}You don't have the needed privileges to access this application. Please contact the administrator if you find this to be incorrect.{% endtrans %}</p>
{% endif %}
  {% if logoutURL is defined %}
  <p>
      <a href="{{ moduleURL('core/logout/' ~ source|url_encode) }}">{% trans %}Logout{% endtrans %}</a>
  </p>
  {% endif %}
{% endblock%}
